$accentColor: #0067e1;
$darkColor: #1c1c1cde;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#App {
  margin: 1rem;
}

#optionsMenu {
  position: absolute;
  right: 1rem;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 1;
  }

  & div {
    background-color: $darkColor;
    border-radius: 0.6rem;
    padding: 1rem;
  }

  #refreshMenu {
    margin-right: 0.5rem;

    button {
      background-color: white;
      border: 1px solid transparent;
      border-radius: 0.2rem;
      transition: all 0.1s;

      &:hover {
        background-color: $accentColor;
        color: white;
        cursor: pointer;
      }
    }
  }

  #categorySelectMenu {
    color: white;
  }
}

#word {
  #text {
    font-size: 1.3rem;
  }

  #author {
    text-align: right;
    font-size: 0.8rem;

    &::before {
      content: '- ';
    }
  }
}
